<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resturants</title>
</head>
<body>
    <h1><%= resturant.name %></h1>
    <ul>
            <li> <%= resturant.phone %> </li> 
            <li> <%= resturant.location %> </li>
    </ul>  
    <a href= "/resturants/<%= resturant._id %>/edit">Edit</a>

    <form action="/resturants/<%= resturant._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
           
    <a href="/resturants">All Resturants</a>
</body>
</html>