<% layout('layouts/boilerplate') %>

    <div class="card mb-3 border-0">
        <div class="row m-1">
            <div class=" p-0  col-md-2 col-3">
                <img src="<%= restaurant.image %>" alt="" class="img-fluid m-auto">
            </div>
            <div class="  col-md-10 col-9">
                <h5 class="card-body p-0 m-0">
                    <%= restaurant.name %>
                </h5>
                <p class="card-text p-sm-0"><small class="text-muted">
                        in <%= restaurant.city %>, <%= restaurant.country %>
                    </small></p>
                <p class="mb-md-3 m-0">
                    <%= restaurant.cuisines %>
                </p>
                <p class="mb-md-2 m-0">Min. order: EGP 0.00</p>
            </div>
        </div>
    </div>



    <!-- <div class="btn-group d-grid gap-2 col-md-9 col-12 mx-auto" role="group" aria-label="Basic radio toggle button group">
    <input type="button" class="btn-check border-0" name="btn" id="menubtn" autocomplete="off" checked>
    <label class="btn " for="menu">Menu</label>
  
    <input type="button" class="btn-check border-0" name="btn" id="reviewsbtn" autocomplete="off">
    <label class="btn " for="reviews">Reviews</label>
  
    <input type="button" class="btn-check border-0" name="btn" id="infobtn" autocomplete="off">
    <label class="btn" for="info">Info</label>
  </div> -->
    <div class="btn-group d-grid gap-2 col-md-9 col-12 mx-auto" role="group" aria-label="Basic example">
        <button type="button" id="menu" class="btn" aria-checked="true"
            onclick='document.getElementById("content").innerHTML="<%- include("../partials/restaurantMenu")%>"'>Menu</button>
        <button type="button" id="reviews" class="btn"
            onclick='document.getElementById("content").innerHTML="<%- include("../partials/restaurantReviews")%>"'>Reviews</button>
        <button type="button" id="info" class="btn"
            onclick='document.getElementById("content").innerHTML="<%- include("../partials/restaurantInfo")%>"'>Info</button>
    </div>

    <div class="card" id="content">
        <%- include('../partials/restaurantMenu')%>
    </div>