<% layout('layouts/boilerplate') %>

<div class="card my-3 border-0" >
    <div class="row">
        <div class="col-3 ml-3 p-0">
            <img src="<%= restaurant.image %>" alt="" class="img-fluid m-auto">
        </div>
        <div class="col-8 p-0">
            <div class="justify-content-strat">
            <h5 class="card-title "><%= restaurant.name %></h5>
            <p class="text-muted m-0"><%= restaurant.city %>, <%= restaurant.country %> </p>
            <p><small class="text-muted m-1"><%= restaurant.cuisines %></small></p>
            <p><small class="text-muted m-1">Min. order: EGP 0.00</small></p>
        </div>
        </div>
    </div>
</div>
